[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aavish
[access "refs/for/refs/*"]
	read = group user/aavish
	push = group user/aavish
	label-Code-Review = -2..+2 group user/aavish
	label-Verified = -1..+1 group user/aavish
	rebase = group user/aavish
	removeReviewer = group user/aavish
	submit = group user/aavish
[access "refs/heads/*"]
	read = group user/aavish
	create = group user/aavish
	push = +force group user/aavish
	pushMerge = group user/aavish
[access "refs/tags/*"]
	push = group user/aavish
	push = +force group user/aavish
